@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=================== BASE ===================*/
:root {
  --dark-gray: #2f2f2f;
  --light-gray: #6a6a6a;
  --blue: #2f4d76;
  --yellow: #FFD700;
  --box-bgcolor: #70817b22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: #EFF2F1;
  color: var(--light-gray);
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*=================== NAV ===================*/
nav {
  display: flex;
  padding: 17.5px 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #2f4d76;
}

.logo {
  display: inline-block;
  margin-left: 100px;
  
}

.buttons {
  display: flex;
  font-size: 15px;
  gap: 50px;
  margin-left: 200px;
}

.b1{
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b1:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.b2{
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b2:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.b3{
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b3:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.b4{
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b4:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.b5{
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b5:hover{
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}


.ri-shopping-cart-line{
  position: relative;
  margin-right: 150px;
  color: white;
  font-size: 20px;
}


#counter{
  position: absolute;
  bottom: -5px;
  right: -5px;
  width:15px;
  height:15px;
  font-size: 15px;
  background-color: #FFD700;
  border-radius: 50%;
  display: flex; /* Centers the text horizontally and vertically */
  justify-content: center; /* Centers horizontally */
  align-items: center;
  color:black;
}


/* -------slogan and presentation texts------- */
.slogan{
    padding-top: 100px;
    font-style: normal;
    text-align: center;
}

.header{
  color: #2f2f2f;
}

.info{
  font-style: normal;
}

/*-----------------Items------------------*/
.items{
  display: flex;
  position: relative; 
  justify-content: center; 
  padding-top: 50px;
  gap: 50px;
  text-align: center;
}

.item1, .item2, .item3 {
  position: relative; 
  width: 250px; 
  /*padding: 20px;*/
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.item1:hover, .item2:hover, .item3:hover {
  transform: scale(1.05); 
  background-color: #cacaca;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.item1 img, .item2 img, .item3 img {
  width: 100%; 
  height: auto; 
  border-radius: 5px; 
}

.itemHeader{
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 7.5px;
  font-weight: 500;
  font-size: 18px;
}

.priceInfo{
  font-style: normal;
  color: #2f2f2f;
  font-weight: 600;
}

.itemInfo{
  font-style: italic;
  margin: 10px 0;
}

.productbg1, .productbg2, .productbg3 {
  position: absolute; /* absolute konumlandırma */
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: transparent; /* Hafif siyah arka plan */
  border-radius: 10px;
  z-index: -1; /* Arka planı diğer içeriklerin altına yerleştir */
}

.ri-add-line{
  border-radius: 40px;
  font-size: 30px;
  background-color: rgb(17, 17, 17);
  color: #EFF2F1;
  cursor: pointer;
}


/*=================== MAIN ===================*/
main{

}
/*=================== RESPONSIVE DESIGN ===================*/