@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --blue: #2f4d76;
  --yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: var(--blue);
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 17.5px 24px;
  justify-content: space-between;
  align-items: center;
  background-color: #2f4d76;
}

.logo {
  display: inline-block;
  margin-left: 100px;
}

.buttons {
  display: flex;
  font-size: 15px;
  gap: 50px;
  margin-left: 200px;
}

.b1, .b2, .b3, .b4, .b5 {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#FFD700 0 0);
  background-position: 0 100%;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.ri-shopping-cart-line {
  position: relative;
  margin-right: 150px;
  color: white;
  font-size: 20px;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 122px;
  padding-right: 122px;
  width: 100%;
  position: relative;
  padding-top: 85px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-title {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-top: 122px;
}

.main-screen-description {
  font-weight: 400;
  padding-top: 15px;
  color: #d5d5d5;
  margin: 0;
}

.shop-page-button {
  border-radius: 7px;
  border: 1px solid #bebebe;
  padding: 10px 24px;
  background-color: transparent;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  color: #ffffff;
}

.main-couch {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
}

.ornament {
  display: flex;
  position: absolute;
  left: 50%;
  z-index: -1;
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
  }

  .logo {
    margin-left: 20px;
  }

  .buttons {
    display: none; 
  }

  .ri-shopping-cart-line {
    margin-right: 20px;
  }

  .main-container {
    flex-direction: column; 
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .text-content {
    order: 1; 
    text-align: center;
  }

  .main-title {
    font-size: 40px; 
    margin-top: 60px;
  }

  .main-couch {
    display: none; 
  }

  .ornament {
    display: none; 
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 30px; 
  }

  .main-screen-description {
    font-size: 14px; 
  }

  .shop-page-button {
    font-size: 14px; 
    padding: 8px 20px; 
  }
}