@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=================== BASE ===================*/
:root {
  --blue: #2f4d76;
  --yellow: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: var(--blue);
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*=================== NAV ===================*/
nav {
  display: flex;
  padding: 17.5px 24px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: 100px;
  
}

.buttons {
  display: flex;
  font-size: 15px;
  gap: 50px;
  margin-left: 200px;
}

.ri-shopping-cart-line{
  margin-right: 150px;
  color: white;
}


/*=================== MAIN ===================*/

/*=================== RESPONSIVE DESIGN ===================*/